header {
    display: flex;
    height: 20px;
}

li {
    background-color: rgb(65, 0, 65);
    color: white;
    border: 8px;
    border-radius: 2px;
}

.quiz-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#high-scores {
    justify-content: flex-start;
}

#time-left {
    float: right;
    margin: auto;
}